.secondFieldContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.spinner {
  text-align: center;
  margin: 100px auto;
}
.roller {
  width: 75px;
  height: 75px;
}
.MuiDataGrid-row:nth-child(odd) {
  background: aliceblue;
}

.Boxstyle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 70%;
    background-color: rgb(214, 224, 233);
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    padding: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.textfield {
  margin-top: 24px !important;
}

#tableContainer > div > div > div:nth-child(2) > div > div > div > div {
  cursor: pointer;
}

h1.table_heading {
  text-align: center;
  font-size: 45px;
  opacity: 0.6;
}

.link {
  display: flex;
  max-width: 500px;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  gap: 30px;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  background: brown;
  padding: 10px 40px;
  border-radius: 10px;
  color: aliceblue;
  font-size: large;
  opacity: 0.8;
  transition: all 0.5s;
}
a:hover {
  background: aliceblue;
  color: brown;
}
h4.note {
  opacity: 0.7;
  margin: 20px auto;
  text-align: center;
}
select.selectField {
  width: 150px;
  border: none;
  border-radius: 10px;
  background: #f2f2f2;
  font-size: 20px;
  padding: 5px 10px;
  color: black;
  opacity: 0.8;
  font-style: normal;
}

select.selectField:focus-visible {
outline: none;
}

h3.popupText {
  font-weight: 500;
  opacity: 0.9;
}
@media screen and (max-width:600px){
  h1.table_heading {
    font-size: 35px;
}
a {
  padding: 8px 25px;
  font-size: 18px;
}
.Boxstyle {
  width: 80%;
  height: 70%;
  border-radius: 10px;
  padding: 20px;
  overflow: scroll;
}
}